.toy-details{
    height: 70vh;
}
.toy-details-label{
    width: max-content;
    background-color: var( --clr1bg);
    border-radius: 10px;
    padding: 0.3em;
    margin: 5px;
}

.toy-details-label:hover{

    background-color: var(--clr1bg-light);
}