.toy-edit{
   display: flex;
   flex-direction: column;
   background-color:var(--gray1);
   height: 90vh;
}
.edit-form{
    background-color: var(--clr1bg);
    align-self: center;
    padding: 5em;
    margin: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px 1px 1px;
}
.edit-form-input{
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}